{% load static %}

{% block extra_css %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'auth/css/signup_forms.css' %}">
{% endblock %}

{% block content %}

<div class="login-page">
  <div class="login-card">
    <div class="card-body">
      <h5 class="card-title">Register as an Employer</h5>
      
      <form method="post" class="form">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="form-error">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <div class="form-error">
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        
        <small>
          Can't find your company? 
          <a href="{% url 'company:create' %}">Register a new company</a>
        </small>

        <br><br>
        <button type="submit" class="btn-login">Sign up</button>
      </form>
    </div>

    <div class="card-footer">
      <div>
        Already have an account? <a href="{% url 'login' %}">Login</a>
      </div>
      <hr>
      <div>
        <a href="{% url 'normal_signup' %}">Register as an Employee instead</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
