{% extends "base.html" %}
{% block title %}Edit Job{% endblock %}

{%load static%}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container mx-auto mt-10 px-6">
  <h1 class="text-3xl font-bold mb-6 text-center">Edit Job - {{ job.title }}</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Save Changes</button>
    <a href="{{ job.get_absolute_url }}" class="ml-3 text-gray-700 text-center hover:underline">Cancel</a>
  </form>
</div>
{% endblock %}
