{% extends 'base.html' %}

{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/job_search.css' %}">
{% endblock%}

{% block content %}

<div class="search-container">
    <h2>Search Jobs</h2>
    <form method="GET" action="{% url 'jobs:jobSearch' %}">
        <input type="text" name="q" placeholder="Search by title, company, or location" value="{{ query|default:'' }}">
        <button type="submit">Search</button>
    </form>
</div>

{% include "jobs/_job_list_card.html" with from_page="jobSearch" heading="Search Results"%}

{% endblock %}
